* {
    display: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
  }
  
  .logo {
    font-family: Arial;
    font-size: 1.5rem;
    margin: .5rem;
  }
  
  .nav-links ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
  }
  
  .nav-links li:hover {
    background-color: #555;
  }
  
  .hamburger {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .hamburger-link {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  @media (max-width: 600px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
    }
  }